//colors
$primaryColor: #faa136;
$lighterPrimaryColor: #ffb760;
$lightestPrimaryColor: #ffd8a9;
$background: #ffd7a7;
$title: #ffe794;
$header: #ffe794;
$footer: #ffd874;
$success: #7fdb88;
$purple: #7e8bf9;
$danger: #ff5757;
