@use "./color";

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerDiv {
  width: 100vw;
  // height: auto;
  .header {
    background: color.$title;
    display: flex;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    position: relative;
    .menu {
      display: flex;
      position: absolute;
      left: 0;
    }
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1px;
      span {
        font-size: 38px;
        color: #000;
      }
    }
  }

  .body {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-areas: "Project Container";
    background: color.$background;
    // min-height: 80vh;

    .projects {
      grid-area: Project;
      background: #fff;
    }
    .container {
      grid-area: Container;
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      // align-items: center;
      width: auto;
    }
  }

  .footer {
    background: color.$footer;
    text-align: center;
    color: #444343;
    font-size: 20px;
  }
}
